<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <title>Visitor Form</title>
      <style>
         body{
         background-color: #646464;
         }
         h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
         }
         .th{
         text-align: center;
         }
         .buttons{
         border-color: #0A0C25 ;
         padding: 0em;
         text-align: center;
         background-color: white;
         width:9em;
         height:4em;
         border-radius: 5px;
         font-family: 'Poppins', sans-serif;
         }
         .buttons:hover{
         background-color: #0A0C25;
         color:white;
         border-radius: 5px;
         }
         th,thead{
         border:solid grey;
         }
         table{
         border:solid grey;
         }
         td{
         border-left: solid grey;
         }
         .btn-success{
         border-color: #0A0C25 ;
         color:black;
         margin-left: 3.5em;
         margin-bottom: 0.5em;
         }
         .btn-success:hover{
         background-color: #0A0C25;
         color:white;
         }
         .modal-content-slip{
             background-color: white;
         }

         .main-section{
            margin-left: 75px;
           margin-top: 100px;
           margin-bottom: 100px;
           padding: 0;
       }
       .model-content{
           background-color: white;
           border: #0A0C25 solid 5px;
           width: 300%;
           font-family: 'Poppins', sans-serif;
       }
       .capture_image{
           margin: 0.5em;
           border: 0.1em solid #0A0C25;
           float: right;
       }
       .VisitorInfo{
           margin: -3em 0.15em 0.15em 0.15em;
       }
       h3{
           font-weight: bold;
           font-size: 22px;
       }
       .form-group{
           
           padding-left: 2.0em;
           font-family: 'Roboto', sans-serif;
       }
       .authority{
           float: right;
       }
       .generateSlip{
            background-color: #0A0C25;
            color:white;
            padding: 0.3em;
            width: 5em;
            float: right;
       }
       .generateSlipDiv{
            background-color: white; 
            float: right;
       }
       .generateSlip:hover{
        background-color: white;
            color:#0A0C25;
       }
       #submitForm {
         width: fit-content;
         float: right;
         background-color: #218838;
         border-color: #1e7e34;
         color: white;"*/
       }
       #submitForm:disabled {
          color: grey;
         background-color: lightgrey;
         border-color: lightgrey;
       }
      </style>
   </head>
   <body>
      <div>
         <div class="col-12" style="background-color: white;color: black;text-align: center;padding: 1.5em;">
            <img src="niit.jpg" alt="logo" align="left" width="130em" height="75em">
            <strong>
               <h1>WELCOME <span style="color: red;">ADMINISTRATOR</span></h1>
            </strong>
         </div>
         <div class="row">
            <div class="col-12">
               <div style="background-color: lavender; padding: 0.5em;">
                  <button onclick="location.href='{{ url('dashboard/') }}'" type="button" class="button buttons">
                  <i class="fa fa-list-alt"></i><br> DASHBOARD
                  </button>
                  <button onclick="location.href='{{ url('visitorform/') }}'" type="button" class="button buttons">
                  <i class="fa fa-user-plus"></i><br> VISITOR SLIP
                  </button>
                  <button type="button" class="button buttons">
                  <i class="fa fa-check"></i><br> VISITOR INFO
                  </button>
                  <button onclick="location.href='{{ url('logout') }}'" type="button" class="button buttons">
                  <i class="fa fa-sign-out"></i><br> LOGOUT
                  </button>
               </div>
            </div>
         </div>
         <div class="row" style="margin-top: 0.50em; margin-left: 0.15em; margin-right: 0.15em;">
            <div class="col-sm-12">
               <div style="background-color: white; border: #161616 solid 0.35em;">
                  <div style="background-color: #0A0C25; color: #ffffff; padding:0.50em; margin: 0.35em;">
                     <h2>VISITOR GATEPASS</h2>
                  </div>
               <form method="post" id="visitorform">
                           @csrf
                           <div class="row">
                           <div class="col-sm-3">
                           <div id="results"></div>
                           
                           <canvas id="capture_image" style="border:0.15em solid #0A0C25;margin:1em;" width="250px" height="250px"></canvas><br>
                           <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="text-align:center;margin:3px 0px 5px 30px; font-family: 'Poppins', sans-serif;">Capture Image</button>
                           <div class="modal fade" id="myModal" role=dialog> 
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="container">
                                    <h1 class="text-center">Capture Image</h1>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <center><div id="my_camera"></div></center>
                                          <br/>
                                          <center><div class="col-md-4">
                                             <input type=button value="Take Snapshot" style="text-align:center; margin-bottom:8px;" onClick="take_snapshot()">
                                             <input type="hidden" name="image" class="image-tag">
                                          </div></center>
                                          <center><div class="col-md-4" style="margin:2px 0px 5px 2px;">
                                             <input type=button value="Close" id="close" style="text-align:center;" onclick="funcClose();" disabled>
                                          </div></center>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           </div>
                           </div>
                           <div class="col-sm-9">
                           <div class="form-group row">
                              <label for="phone_number" class="col-sm-2 col-form-label">Contact Number</label>
                              <div class="col-sm-5">
                                 <input type="text" class="form-control" id="inputContact" name="number" placeholder="Enter Phone Number" required>
                              </div>
                              <div class="col-sm-2">
                                 <button type="button" class="form-control" id="send_otp" required>SEND OTP</button>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="OTP" class="col-sm-2 col-form-label">Enter OTP</label>
                              <div class="col-sm-5">
                                 <input type="password" class="form-control" name="otp" id="inputOTP" placeholder="Enter OTP" required>
                              </div>
                              <div class="col-sm-2">
                                 <button type="button" class="form-control" id="verify_otp" required>VERIFY OTP</button>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="visitor_name" class="col-sm-2 col-form-label">Visitor name</label>
                              <div class="col-sm-7">
                                 <input type="text" class="form-control" id="inputName" name="visitorname" placeholder="Enter Visitor Name" required>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="purpose" class="col-sm-2 col-form-label">Purpose</label>
                              <div class="col-sm-5">
                                 <!--<input type="text" class="form-control" id="inputPurpose" placeholder="Enter Purpose of Visit">-->
                                 <select id="purpose" class="form-control" name="purpose" required>
                                    <option value="">Select</option>
                                    <option value="Faculty">Faculty</option>
                                    <option value="Student">Student</option>
                                    <option value="Others">Others</option>
                                 </select>
                              </div>
                              <div class="col-sm-2">
                                 <input type="text" class="form-control" id="Visitor_id" placeholder="Student/Faculty ID" required>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="Departure" class="col-sm-2 col-form-label">Departure</label>
                              <div class="col-sm-5">
                                 <input type="date" class="form-control" id="inputDate" placeholder="dd/mm/yy" name="departuredate" required>
                              </div>
                              <div class="col-sm-2">
                                 <input type="time" class="form-control" id="inputTime" placeholder="00:00:00" name="departuretime" required>
                              </div>
                           </div>
                           <div class="form-group row">
                              <div class="col-sm-6">
                                 <button type="submit" class="form-control" id="submitForm" data-toggle="modal" data-target="#myModalSlip" disabled=true>Request Gatepass</button>
                              </div>
                           </div>
                        </form>
                     </div>  
                  </div>
               </div>
            </div>
         </div>
      </div>

    <div id="myModalSlip" class="modal fade" role=dialog>
  <!-- Modal content -->
         <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <form action="visitor_slip">
                  <div class="row">
                     <div class="col-sm-3 main-section">
                        <div class="model-content">   
                              <div class="row form-group">
                                 <div class="col-sm-6">
                                    <img src="niit-logo.jpg" width="150" height="150">
                                 </div>
                                 <div class="col-sm-6">
                                    <div id="displaySlipImage" width="150" height="200"></div>
                                    <canvas class="capture_image" id="imageSlip" width="150" height="200"></canvas>
                                 </div>
                              </div>
                              <div class="row form-group VisitorInfo">
                                 <div class="col-sm-6">
                                    <h3><i class="fa fa-user"></i> VISITOR SLIP</h3><br>
                                 </div>
                              </div>
                              <div class="row form-group">
                                 <div class="col-sm-4">
                                    <label for="VisitorName">Visitor Name:</label>
                                 </div>
                                 <div class="col-sm-8">
                                    <label for="fillName" id="fillName"></label>
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="Purpose" class="col-sm-4 col-form-label">Visit Purpose:</label>
                                 <label for="fillPurpose" class="col-sm-4 col-form-label" id="fillPurpose"></label>
                                 <label for="fillPurposeFor" class="col-sm-4 col-form-label" id="fillPurposeFor"></label>
                              </div>
                              <div class="form-group row">
                                 <label for="IssueOn" class="col-sm-4 col-form-label">Issued On : </label>
                                 <label for="fillIssueDate" class="col-sm-4 col-form-label" id="fillIssueDate"></label>
                                 <label for="fillIssueTime" class="col-sm-4 col-form-label" id="fillIssueTime"></label>
                              </div>
                              <div class="form-group row">
                                 <label for="ValidUpto" class="col-sm-4 col-form-label">Valid Upto : </label>
                                 <label for="fillDepartDate" class="col-sm-4 col-form-label" id="fillDepartDate"></label>
                                 <label for="fillDepartTime" class="col-sm-4 col-form-label" id="fillDepartTime"></label>
                                 <br><br><br>
                              </div>
                              <div class="form-group row">
                                 <div class="col-sm-4"></div>
                                 <div class="col-sm-8">
                                 <label for="AuthoritySign" class="col-form-label authority">AUTHORISED SIGNATURE </label></div>
                              </div>
                        </div>
                              <button type="button" id="printSlip" class="btn-primary">Print</button>
                              <button type="button" id="closeslip" class="btn-primary">Close</button>
                        </div>
                     </div>
                </form>
         </div>
         </div>
        </div>
    </div>
   </body>
   <script language="JavaScript">
      

         Webcam.set({
             width: 250,
             height: 250,
             image_format: 'jpeg',
             jpeg_quality: 90,
             });
         Webcam.attach('#my_camera' );
         function take_snapshot() {
            document.getElementById("close").disabled=false;
            document.getElementById("submitForm").disabled=false;
             Webcam.snap(function(data_uri) {
                document.getElementById("capture_image").style.display='none';
                 $(".image-tag").val(data_uri);
                 document.getElementById('results').innerHTML = '<img style="width: 250px; height: 250px;" src="'+data_uri+'"/>';
                 document.getElementById('imageSlip').style.display = 'none';
                 document.getElementById('displaySlipImage').innerHTML = '<img style="width: 250px; height: 250px;" src="'+data_uri+'"/>';
             } );
         }
         
         function funcClose(){
            $('#myModal').modal('hide');
         }

         $('#visitorform').submit(function(event) {
            event.preventDefault();
            let form_data = $(this);
            const cont=document.getElementById("inputContact").value;
            const otp=document.getElementById("inputOTP").value;
            const vistname=document.getElementById("inputName").value;
            const pur=document.getElementById("purpose").value;
            const id=document.getElementById("Visitor_id").value;
            const date=document.getElementById("inputDate").value;
            const time=document.getElementById("inputTime").value;
            
            const today=new Date();
            const currdate=today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const currtime=today.getHours()+":"+today.getMinutes()+":"+today.getSeconds();

            $.ajax({
               type: 'POST',
               url: 'datacheck',
               data: form_data.serialize(),
               success: function(response) {
                  document.getElementById("fillName").innerHTML=vistname;
                  document.getElementById("fillPurpose").innerHTML=pur;
                  document.getElementById("fillPurposeFor").innerHTML=id;
                  document.getElementById("fillIssueDate").innerHTML=currdate;
                  document.getElementById("fillIssueTime").innerHTML=currtime;
                  document.getElementById("fillDepartDate").innerHTML=date;
                  document.getElementById("fillDepartTime").innerHTML=time;

                  document.getElementById("inputContact").value = '';
                  document.getElementById("inputOTP").value = '';
                  document.getElementById("inputName").value = '';
                  document.getElementById("purpose").value = '';
                  document.getElementById("Visitor_id").value = '';
                  document.getElementById("inputDate").value = '';
                  document.getElementById("inputTime").value = '';
                  document.getElementById("submitForm").disabled = true;
               }
            });
         });

      </script>
</html>